<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dianzan.mapper.CommentMapper">

    <select id="selectPageRoots" resultType="com.example.dianzan.model.entity.Comment">
        SELECT * FROM comment WHERE blogId = #{blogId} AND rootId = 0
        ORDER BY createTime DESC LIMIT #{offset}, #{size}
    </select>

    <select id="selectByRootIds" resultType="com.example.dianzan.model.entity.Comment">
        SELECT * FROM comment WHERE rootId IN
        <foreach collection="rootIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY createTime ASC
    </select>

    <select id="countRoots" resultType="long">
        SELECT COUNT(*) FROM comment WHERE blogId = #{blogId} AND rootId = 0
    </select>

</mapper>
